* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-block {
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-block img {
  height: 5em;
  width: 5em;
  border-radius: 50%;
  margin-bottom: 1em;
}

.links-block {
  padding: 0.5rem 2rem;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.link {
  width: 50em;
  height: 3em;
  margin: 1rem;
  filter: drop-shadow(0px 1px 2px rgba(16, 24, 40, 0.05));
  background-color: #eaecf0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link a {
  text-decoration: none;
  text-underline: none;
}

.icons {
  display: flex;
  justify-content: center;
  height: 20vh;
  align-items: center;
}

.icon {
  height: 5em;
  width: 5em;
}

@media (max-width: 1100px) {
  .link {
    width: 40em;
    height: 3em;
    margin: 0.5rem;
    filter: drop-shadow(0px 1px 2px rgba(16, 24, 40, 0.05));
    background-color: #eaecf0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 700px) {
  .link {
    width: 25em;
    height: 2.5em;
    margin: 0.5rem;
    filter: drop-shadow(0px 1px 2px rgba(16, 24, 40, 0.05));
    background-color: #eaecf0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 400px) {
  .link {
    width: 15em;
    height: 2em;
    margin: 0.5rem;
    filter: drop-shadow(0px 1px 2px rgba(16, 24, 40, 0.05));
    background-color: #eaecf0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 350px) {
  .link {
    width: 10em;
    height: 2em;
    margin: 0.5rem;
    filter: drop-shadow(0px 1px 2px rgba(16, 24, 40, 0.05));
    background-color: #eaecf0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
